# Objetos y binarios de compilación
[Bb]in/
[Oo]bj/

# Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Paquetes NuGet
packages/
*.nuget.props
*.nuget.targets

# Archivos de publicación (Publish)
publish/
*.publish.htm

# Configuración local de Azure o secretos (¡Muy importante!)
appsettings.Development.json
secrets.json
.env

# Archivos del Sistema Operativo
Thumbs.db
.DS_Store